<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ODEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
    <userSettings>
        <ODEditor.Properties.Settings>
            <setting name="ExporterType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarningMask" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="CouchDBUrl" serializeAs="String">
                <value>http://localhost:5984/canopen</value>
            </setting>
            <setting name="CouchDBUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="CouchDBPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitRepoUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitToken" serializeAs="String">
                <value/>
            </setting>
        </ODEditor.Properties.Settings>
    </userSettings>
</configuration>
